*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex; /*Con esto hago que el footer vaya abajo*/
    flex-direction: column; /*Con esto hago que el footer vaya abajo*/
    min-height: 150vh; /*Con esto hago que el footer vaya abajo*/
}
header{
    height: 60vh;
    width: 100%;
}
main{
    flex-grow: 1;
    width: 100%;
}
footer{
    margin-top: auto; /*Con esto hago que el footer vaya abajo*/
    height: 5vh;
    width: 100%;
    color: #F7DE2E;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILO HEADER */

.containerHeader{
    height: 30%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.containerLogo{
    width: 20%;
}
.containerLogo img{
    height: 100%;
    width: auto;
}

.menu{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.menu ul li{
    list-style: none;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #F7DE2E;
    width: 230px;
    text-align: center;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #191c1a;
}

.menu ul li:hover{
    transform: scale(1.2);
}

.containerBanner{
    height: 70%;
    position: relative;
}

.banner{
    height: 100%;
    opacity: 0.5;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.containerText {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
}

.title{
    font-size: 3rem;
    color: #c02600;
    text-shadow: 2px 2px 2px black;
}
/* FIN ESTILO HEADER */

/* ESTILO HOME */
.containerMainIndex, .contenido{
    height: 100vh;
}
.subtitle{
    background-color: black;
    color: white;
    height: 8%;
    padding: 0.5rem 0;
}

.subtitle h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedordatos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 92%;

}
.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 40%;
    height: 100%;
}
.detailEvent{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.detailEvent h3 time{
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 1.5rem;
   background-color: #F7DE2E;
   padding: 0.5rem;
}
.detailEvent p{
   font-size: 1.5rem;
   padding: 0 4rem;
}
.image{
    width: 60%;
    height: 100%;
}

/* CONFIGURO SLIDER IMAGENES */
.slider-frame{
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}
.slider{
    height: 90%;
}
.slider ul{
    width: 800px;
    height: 300px;
    position: relative;
}

ul.slider li{
    position: absolute;
    margin-top: 4rem;
    opacity: 0;
    list-style: none;
    width: 838px;
    height: auto;
    transition: opacity .5s;
    list-style: none; 
}
.slider img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.slidermenu > li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.slidermenu{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.slidermenu > li{
    list-style: none;
}
.slidermenu > li a{
    display: flex;
    background-color: grey;
    color: transparent;
    opacity: 0.7;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
/* FIN DEL SLIDER IMAGENES */
/* FIN ESTILO HOME */


/* ESTILO ABOUT */
.containerMainAbout, .containerMainContact{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 2rem;
}

.contenidoAbout{
    display: flex;
    flex-direction: column;
}

.detailInfo:nth-child(odd){
    display: flex;
    flex-direction: row;
}
.detailInfo{
    display: flex;
    flex-direction: row-reverse;
}

.detailInfo> img, .detailInfo> .textDetail{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.detailInfo> img{
    object-fit: none;
}
.textDetail{
    background-color: #5FA199;
    padding: 0 2rem;
}
.textDetail h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.textDetail p{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.2rem;
}
/* FIN ESTILO ABOUT */

/* ESTILO CONTACTO */
.contenidoContact{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: white;
    margin: 20rem 0;
}
.contenidoContact p{
    font-size: 2rem;
    padding: 1REM;
}
.imageContact img{
    object-fit: cover;
    width: 100%;
}
/* FIN ESTILO CONTACTO */


/*  ESTILO RULES */
.containerMainRules{
    display: flex;
    flex-direction: column;
}
.contenidoRules{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    gap: 2rem;
    font-size: 1rem;
    width: 800px;
    background-color: rgb(211, 209, 209);
    padding: 3rem 2em;
}

.rule1 li{
    list-style: none;
}

.rule2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 1.3rem;
}

.age_groups{
    list-style-type: lower-alpha;
    padding-left: 1.5rem;
}

.rule3{
    list-style-type: circle;
    padding-left: 1rem;
}

.imageRules{
    width: 800px;
}
.imageRules img{
    width: 100%;
    margin-left: 20rem;
}
/* FIN ESTILO RULES */

/* 
.contenidoAbout, .contenidoContact, .contenidoRules, .contenidoGameInfo{
    width: 80.3vw;
    margin-left: 18vw;
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding-left: 6rem;
}

.detailEvent, .detailInfo, .contenidoContact>p{
    margin: 2.5rem 0;
}
.image{
    text-align: center;
    padding: 1rem;
    width: 80.3vw;
    margin-left: 18vw;
}

 */

/* ESTILOS TABLA */
.contenidoGameInfo{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tab1 .text1{
    font-size: 1.5rem;
}
.tab1 .text2{
text-align: left;
}

caption{
    margin-bottom: 1rem;
}
.tab1 > thead tr th{
    border-bottom: 1px solid black;
}

.tab1 > tbody tr td{
    text-align: center;
}

.tab1 thead> tr:nth-child(odd), .tab1 tbody> tr:nth-child(odd){
    background-color: rgb(228, 221, 221);
}

.tab1, .tab2{
    width: 100%;
}
.tab2 tr{
    text-align: left;
}
.tab2 tr th{
    padding: 1rem 0;
}
/* FIN ESTILOS TABLA */



